@import "compass/css3";
*{ padding: 0px; margin: 0px; list-style: none; outline: none; text-decoration: none;}
@-ms-viewport     { width: device-width; }
@-o-viewport      { width: device-width; }
@viewport         { width: device-width; }