@import "compass/css3";
.ayi-detail-contain{
  .container{
    .row{
      .thumbnail{ border: none; }
      .ayi-d-d{
        h1{ font-size: 30px; }
        .description{ font-size: 16px; margin: 10px 0px;}
        .extra{
          margin: 10px 0px 0px 0px;
          .btn-default{background: #e8e8e8; margin-right: 10px; margin-bottom: 10px;}
        }
        .mta{
          margin-bottom: 10px;
          .ayi-price{
            color: #f2711c;
            font-size: 16px;
            font-weight: bold;
          }
        }
        .ayi-w-action{
          margin-top: 10px;
          .action{
            margin-right: 12px;
            padding-right: 12px;
            position: relative;
            line-height: 20px;
            color: rgba(0,0,0,.5);
            text-decoration: none;
            cursor: pointer;
          }
          .dropdown{
            display: inline-block;
            .dropdown-menu {
              min-width: 70px;
              li{
                width: 30px;
              }
            }
          }
        }
      }
      .ayi-tab-contain{
        height: 40px;
        line-height: 40px;
        border-bottom: 2px solid rgba(34,36,38,.15);
        .item{
          padding: 10px 18px;
          border-bottom: 2px solid transparent;
          color: rgba(0,0,0,.87);
          text-decoration: none;
          cursor: pointer;
        }
        .active.item{
          color: #21ba45;
          border-color: #21ba45;
        }
      }
    }
    .ayi-hot{
      h2{
        color: #333;
        font-size: 18px;
        font-weight: 400;
      }
      .row{
        .thumbnail{
          div{ display: inline-block; text-align: center; margin-bottom: 10px;}
        }
      }
    }
  }
}

@media (max-width: 340px) {
  .ayi-detail-contain{
    .container{
      .ayi-hot{
        .row{
          .thumbnail{
            div{ display: block; width: 100%; text-align: center; margin-bottom: 10px;
              img{
                display: inline-block;
              }
            }
          }
        }
      }
    }
  }
}