@import "compass/css3";
$screen-xs-max:'768px';
$screen-sm-min:'768px';
$screen-sm-max:'992px';
$screen-md-min:'992px';
$screen-md-max:'1200px';
$screen-lg-min:'1200px';
body {
  padding-top: 50px;
  background: rgb(241,243,244);
}
.navbar-inverse-ayi{
  background: #fff;
  border-color: #E8E9EC;
}
.navbar-header .navbar-brand{
  div{
    width: 150px;
    height: 30px;
    background-image: url(../images/logo.png);
    background-size: cover;
    margin: -5px 24px 0px 10px;
  }
}
.ayi-nav-right{
  margin-right: 30px;
  li {
    height: 50px;
    cursor: pointer;
    margin-left: 30px;
    position: relative;
    span{
      padding-top: 15px;
      padding-bottom: 15px;
      line-height: 50px;
      color: #666;
    }
    img{ width: 26px; height: 26px; @include  border-radius(50%); margin-top: 10px;}
    i{ font-size: 12px;  position: absolute; top: 18px; right: -18px;}
  }
  .dropdown-menu{ margin-right: 30px;
    li{ height: 30px; margin: 0px; padding: 0px;}
    li.divider{
      height: 1px;
      margin: 9px 0;
      overflow: hidden;
      background-color: #e5e5e5;
    }
  }

}
.ayi-floor{
    width: 100%;
    background: rgb(241,243,244);
   .ayi-floor-contain{
    .ayi-c-left{
        h1{ padding-left: 20px; font-size: 18px; color: #666; font-weight: normal;}
        .ayi-c-left-c{
          width: 160px;
          margin-left: 20px;
          margin-bottom: 20px;
          float: left;
          img{ width: 100%}
        }
    }
     .ayi-c-right{
       .ayi-ad{
         width: 100%;
         img{ width: 100%; max-width: 100%;}
       }
     }
  }

}

//小于768px
@media (max-width: $screen-xs-max) {
  .ayi-c-right{ display: none}
  .ayi-floor{
    .ayi-floor-contain{
      .ayi-c-left{
        .ayi-c-left-c{
          width: 42%;
        }
      }
      .ayi-c-right{

      }
    }
  }
}
//大于768px，小于992px
@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
  .ayi-floor{
    .ayi-floor-contain{
      .ayi-c-left{
        .ayi-c-left-c{
          width: 135px;
        }
      }
      .ayi-c-right{

      }
    }
  }

}
//大于992px，小于1200px
@media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
  .ayi-floor{
    .ayi-floor-contain{
      .ayi-c-left{
        .ayi-c-left-c{
          width: 180px;
        }
      }
      .ayi-c-right{

      }
    }
  }

}
//大于1200px
@media (min-width: $screen-lg-min) {

}
